<!--@subject Sales Order Monthly Report @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:16px/20px Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header_template"}}

    <table>
        <tr>{{var message}}</tr>
    </table>

{{template config_path="design/email/footer_template"}}
        
